<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Greetings!, <%= @pharmacy.name %></h3>
    <p> <b> LOW STOCK ALERT! </b></p>
    <h5> The Stock of Your Product: <span style="color: green;"> <%= @product.name %> </span> is low, order before you get out of stock! </h5>
  </body>
</html>
